<input type="text" ng-model="search">
<p ng-show="search">Du suchst gerade nach: {{search}}</p>
<table class="table" ng-controller="UsersCtrl">
    <thead>
        <tr>
            <th>ID</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>NICKNAME</th>
            <th>CREATED</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="user in users | filter:search">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.nickname}}</td>
        <td>{{(user.created * 1000) | date:'medium'}}</td>
        <td><a href class="btn btn-default btn-sm" ng-click="alert('edit');">Edit</a></td>
    </tr>
</table>