
/** { box-sizing:border-box; }

body { 
    background:url(../img/little_pluses.png) #cacaca;}


#add-user:hover{
    font-weight: bold;
    cursor: pointer;
}*/

.extend-well1{
    border-color: #dcdcdc;
    background-image: linear-gradient(to bottom,#fff 0,#f5f5f5 100%);
}

/*td {
    overflow-wrap: break-word;
  max-width: 100px;
}*/

td{
    font-size: 0.82em
}

